body {
    padding: 0;
    margin: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(207, 207, 207);
    padding-top: 20px;
    padding-bottom: 5px;
    opacity: 0.5
  }
  
p {
    color: rgb(24, 24, 24);
    text-align: center;
}